* {
    padding: 0rem;
    margin: 0rem;
    font-family: 'Flow Ext', sans-serif;
}

body {
    background-image: url(../assets/images/background-items.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* -------------------- Header -------------------- */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.box_logo {
    position: relative;
    left: 8rem;
}

.nav_menu {
    position: relative;
    right: 10rem;
    transition: 0.45s;
}

.nav_menu:hover {
    transition: 0.45s;
    transform: scale(1.05);
}

.nav_menu a {
    margin: 30px;
    text-decoration: none;
    color: #000000;
    transition: 0.5s;
}

.nav_menu a:hover {
    border-bottom: 1px solid #000000;
    transition: 0.5s;
    color: #000000;
}

/* -------------------- FIM Header -------------------- */

.container_login {
    display: flex;
    justify-content: center;
}

.box_login {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 2.5rem;
    width: 500px;
    height: 550px;
    border: 3px solid #000000;
    border-radius: 10px;
}

.div_tituloLogin h1,
#titulo {
    text-align: center;
    position: relative;
    top: 50px;
    padding: 10px;
}

.box_input {
    display: flex;
    justify-content: center;
    padding: 60px;
    width: 100%;
}

.div_input1 {
    display: flex;
    flex-direction: column;
}

#input_email,
#input_senha {
    width: 350px;
    height: 10px;
}

#titulo_input,
#input_email,
#input_senha {
    position: relative;
    top: 10px;
    padding-bottom: 12px;
    padding-top: 16px;
    border-radius: 10px 10px;
}

.box_buttonLogin {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 40px;
}

#button_login {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: -5px;
    height: 40px;
    width: 230px;
    border-radius: 4px 10px;
    background-color: #000000;
    color: #FFFFFF;
    transition: 0.65s;
}

#button_login:hover {
    background-color: #FFFFFF;
    border: 3px solid #000000;
    color: #000000;
    transition: 0.7s;
    transform: scale(1.05);
}

#naoTemUmaConta {
    text-align: center;
    padding-top: 16px;
}