* {
    padding: 0;
    margin: 0;
    color: #FFFFFF;
    font-family: 'Varuna', sans-serif;
}

body {
    background-color: #252525;
    overflow: hidden;
}

/* -------------------- START Header -------------------- */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5.5rem;
}

.box_logo {
    cursor: pointer;
    width: 8rem;
    height: 7.5rem;
    transition: 0.45s;
}

.box_logo img {
    width: 100%;
    height: 100%;
}

.box_logo:hover {
    transition: 0.45s;
    transform: scale(1.05);
}

/* -------------------- END Header -------------------- */

/* -------------------- START Side Bar -------------------- */

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.nomeBox{
    background-color: #7e7e7e7c;
    border-radius: 20px;
    position: relative;
    top: 100px;
    width: 250px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    box-shadow: -1px 2px 3px 1px rgba(0, 0, 0, 0.288), inset 0px 0px 20px 10px rgba(0, 0, 0, 0.096);
}

.side_bar {
    width: 25%;
    height: 100%;
}

.side_bar p{
    text-align: center;
    font-size: 16px;
}

.side_bar h2 {
    position: relative;
    text-align: center;
}

.options {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    font-weight: bold;
    height: 100%;
    padding-top: 200px;
}

.option_palavrasCruzadas {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 15px 5px;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 10px;
    
}

.option_palavrasCruzadas:hover {
    border: 2px solid #FFFFFF;
    border-radius: 4px 15px;
    background-color: #ffffff46;
    transform: scale(1.05);
    transition: 0.5s;
}

.option_palavrasCruzadas a {
    text-decoration: none;
}

.option_dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 15px 5px;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 10px;    
}

.option_dashboard:hover {
    border: 2px solid #FFFFFF;
    border-radius: 4px 15px;
    background-color: #ffffff46;
    transform: scale(1.05);
    transition: 0.5s;
}

.option_dashboard a {
    text-decoration: none;
}

.option_ranking {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 15px 5px;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 10px;
}

.option_ranking:hover {
    border: 2px solid #FFFFFF;
    border-radius: 4px 15px;
    background-color: #ffffff46;
    transform: scale(1.05);
    transition: 0.5s;
}

.option_ranking a {
    text-decoration: none;
}

.option_logout {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 50px;
    border: 2px solid #FFFFFF;
    border-radius: 15px 5px;
    cursor: pointer;
    transition: 0.5s;
}

.option_logout:hover {
    border: 2px solid #FFFFFF;
    border-radius: 4px 15px;
    background-color: #ffffff46;
    transform: scale(1.05);
    transition: 0.5s;
}

.option_logout a {
    text-decoration: none;
}

/* -------------------- END Side Bar -------------------- */

/* -------------------- START Dashboard -------------------- */


.dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_content1 {
    width: 75%; 
    height: 100%;
    background-color: #333333;
    border: 1px solid #ffffff46;
}

.container_players {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
    height: 250px;
    gap: 50px;
}

.totalPlayers {
    width: 250px;
    height: 100px;
    border: 2px solid #FFFFFF;
    border-radius: 25px 25px;
}

.title_totalPlayers {
    padding-top: 15px;
    font-weight: bold;
}

.number_totalPlayers {
    padding-top: 20px;
}

.howMany_finished {
    width: 250px;
    height: 100px;
    border: 2px solid #FFFFFF;
    border-radius: 25px 25px;
}

.title_finished {
    padding-top: 15px;
    font-weight: bold;
}

.number_finished {
    padding-top: 20px;
}

/* -------------------- END Dashboard -------------------- */

/* -------------------- START Graphics -------------------- */

.containerGraphics1 {
    width: 800px;
    height: 100%;
}

/* -------------------- END Graphics -------------------- */

/* -------------------- START Ranking -------------------- */

.container_content2 {
    width: 75%;
    height: 100vh;
    background-color: #333333;
}

.box_ranking {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    border: 1px solid #ffffff46;
    
}
.ranking {
    width: 500px;
    height: 500px;
    margin-bottom: 80px;
    border: 2px groove #ffffff89;
    border-radius: 10px 30px;
}

.ranking {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.title_rankingPosition {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 2px solid #ffffff89;
    padding-bottom: 15px;
}

.titlePosition {
    position: relative;
    left: -25px;
}

.titleName {
    position: relative;
    right: 65px;
}

.container_positions {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 50px;
}

.underlinePlayerName {
    border-bottom: 2px solid #ffffff89;
    width: 60%;
    position: relative;
    left: 140px;
    height: 20px;
    bottom: 10px;
    text-align: center;
}

.container_positions h3 {
    position: relative;
    left: 50px;
    font-size: 20px;
    top: 10px;
}



/* -------------------- END Ranking -------------------- */