* {
    padding: 0rem;
    margin: 0rem;
}

body::-webkit-scrollbar {
    margin: -1px;
    width: 2px;
}

body::-webkit-scrollbar:hover {
    width: 12px;
}

body::-webkit-scrollbar-thumb {
    background-color: grey;
}

body::-webkit-scrollbar-track {
    background-color: #FFFFFF;
}

body {
    margin: 0rem;
    height: 100%;
    /* background-image: url(./assets/images/background-textura.jpg); */
    /* background-size: cover; */
}

/* -------------------- Header -------------------- */

.box_header {
    display: flex;
    position: fixed;
    height: 3rem;
    width: 100%;
    justify-content: center;
    border-bottom: 2px solid #000000;
    background-color: #FFFFFF;
    z-index: 2;
}

.box_text {
    display: flex;
    align-items: center;
}

.nav_text {
    display: flex;
    flex-direction: row;
}

.txt1, .txt2, .txt3 {
    display: flex;
    text-decoration: none;
    width: 100px;
    justify-content: center;
}

/* -------------------- Primeira Main -------------------- */

.box_dopamina {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 18rem;
    left: -10rem;
    transition: left 1s;
    z-index: 2;
}

.box_dopamina {
    transition: transform 1.5s ease;
}

.div_dopamina {
    border: 3px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 3rem;
}

.div_dopamina p {
    font-size: 20px;
    font-weight: bold;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    } 10% {
        transform: scale(1.02);
    } 20% {
        transform: scale(1.04);
    } 30% {
        transform: scale(1.06);
    } 40% {
        transform: scale(1.08);
    } 50% {
        transform: scale(1.1);
    } 60% {
        transform: scale(1.08);
    } 70% {
        transform: scale(1.06);
    } 80% {
        transform: scale(1.04)
    } 90% {
        transform: scale(1.02)
    } 100% {
        transform: scale(1)
    }

}

.container_main {
    background-image: url(./assets/images/background-items.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.section_brain {
    display: flex;
    justify-content: center;
}

.brain_img {
    animation: pulse 1235ms infinite;
    cursor: pointer;
    position: relative;
    top: 150px;
    height: 450px;
    z-index: 1;
}

/* -------------------- Aside Informativo -------------------- */

/* .aside_informativo1 {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25rem;
    height: 100%;
    background: linear-gradient(0deg, blue, green 40%, red);
}

.titulo1, .paragrafo1 {
    display: flex;
    color: #FFFFFF;
} */